<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
        {% endif %}
            <h1></h1>
            <!-- <h2>{{ site.description }}</h2> -->
            <a href="http://www.douban.com/people/cywindor/" target="_blank"><img id="socalwork" src="{{ site.baseurl }}assets/images/favicon_douban.png"/></a>
            <a href="http://weibo.com/1612269324/" target="_blank"><img id="socalwork" src="{{ site.baseurl }}assets/images/favicon_weibo.png"/></a>
            <a href="https://github.com/wuchunyang" target="_blank"><img id="socalwork" src="{{ site.baseurl }}assets/images/favicon_github.png"/></a>

        </header>
    </section>
</div>
